@font-face {
    font-family: 'Roboto';
    src: url("Roboto-Regular.ttf");
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    position: absolute;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(0,0,0,0);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #1c6284;
    border-radius: 10px;
}



html, body, #App {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    overflow: hidden;
}
.Container {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.Container .MainContent{
    width: calc((170px + 10px) * 4 + 25px);
    margin-right: auto;
    margin-left: auto;
    margin-top: 70px;
    display: flex;
    height: 100%;
    flex-direction: column;
}
.Container .MainContent header{
    display: flex;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
}
.Container .MainContent header .Title {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    width: 40%;
    border-radius: 20px;
    display: flex;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16), 0 1px 2px rgba(0, 0, 0, 0.23);
}
.Container .MainContent header .Title span {
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    color: #0381bd;
}
.Spacer {
    flex: 1;
}
.Container header .Search {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16), 0 1px 2px rgba(0, 0, 0, 0.23);
    background-color: #FAFAFA;
    border: 1px solid #FAFAFA;
    display: flex;
    box-sizing: border-box;
    transition: 0.5s;
    border-radius: 20px;
    margin-top: auto;
    margin-bottom: auto;
    position: absolute;
    width: 40px;
    z-index: 1;
    height: 40px;
    right: 0;
}

.Container header .Search input {
    background-color: rgba(0,0,0,0);
    height: 100%;
    width: 0;
    border: 0;
    flex: 1;
}
.Container header .Search input:focus {
    outline: none;
}
.Container header .Search .ImgContainer{
    width: 40px;
    height: 40px;
    display: flex;
    cursor: pointer;
}
.Container header .Search img {
    width: 20px;
    height: 20px;
    margin: auto;
}

.Container .ProjectsContainer {
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll;
    flex: 1;
    background-color: #ffffff08;
    border-radius: 10px;
}
.Container .Projects {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.Container footer{
    height: 70px;
}