stages:
- test
- name: deploy
  if: tag IS present
language: python
python:
- '2.7'
- '3.5'
- '3.6'
install: pip install tox
script: tox -e $(echo py$TRAVIS_PYTHON_VERSION | tr -d .)
jobs:
  include:
  - stage: test
    script:
    - npm install
    - npm run build
  - stage: deploy
    python: '3.6'
    install: skip
    script: skip
    before_script: npm install && npm run build
    deploy:
      stage: deploy
      skip_cleanup: true
      provider: pypi
      on:
        tags: true
      distributions: sdist bdist_wheel
      user: osherdp
      password:
        secure: j1rI4UAUBnTvbv52W7LYwoxp+NHNU7E5b6QIDg+ZuXtP3d7WYwp5fG2DxgiSDGQQWahqZUlHNhkqAnyg/81GNe2qpbsgHUwHXsQlI8l90GEySdIqqnmjZ8kGnp23BbUWeqiJSvuq/BKoBOFb3jpp8G+VkoUDybpi8UEAPeqJvmm+DziLED5dHbYda7AXjCAFcKxRFODwfKKRUtBHglNFTr/IFlETqTnHR80SXYolEwp3r9sDGkEBK2NFrUP95fouU1WW8X8GW/5MT44SQwwvzdvAA7vpJwmXTm0tIAVXHGm7Tgb5lhPYzMiTNF2uw0mOjdWTztwXD4b4kxycXb4Iz/1l3Zmppf6PARjlN0AS5mqXaP0Af3TqpIHFCB2XRD7Mpgq4vF+4wzZcqvCzG4EOt3mGPr+EfPKoV0MDpbhFOfLbawzaoL3skDDrjR6p0JoIhxLbS/PRBTVBSGyntT/cqL6ahbbSD44k1JeUFgoHSxj8OlA8jjYsGl/2QrVX4hiHQwkQ88ld34z2pgxUeCytIxOj/4LKTP2X/sPd8arI2pwB3vZ3OxPv1BXEZ00r6M0Rik1VQwIjx46/ofIbmkk7OTEkSiBI0LZ9lUjCoMwRptfQFUfGmTdVwdcHgZQV5Z9uqfMMrnX/Lsbijdm47nh/JE1jr8i4M04Xf8cqb8KlaXA=
