.ProjectContainer {
    position: relative;
    user-select: none;
    transition: 0.5s;
    cursor: pointer;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    text-decoration: none;
    color: black;
    background-color: white;
    margin: 5px;
    width: 170px;
    height: 170px;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16), 0 1px 2px rgba(0, 0, 0, 0.23);
}

.clicked {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) !important;
}

.ProjectContainer .Decore {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
}

.ProjectContainer:hover {
    background-color: #F5F5F5;
    transform: scale(1.05, 1.05);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.ProjectContainer .Picture {
    margin: auto;
    position: relative;
    z-index: 1;
    width: 60%;
    height: 60%;
}

.ProjectContainer .Picture img {
    width: 100%;
    height: 100%;
    position: relative;
}

.ProjectContainer .Name {
    position: absolute;
    z-index: 1;
    width: 100%;
    left: 0;
    bottom: 20px;
    display: flex;
}

.ProjectContainer .Name span {
    font-size: 15pt;
    font-weight: bold;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}